dialog {
  background-color: #ffffff; /* color de fondo */
  color: #333333; /* color de texto */
  font-family: "Helvetica", sans-serif; /* fuente sans-serif */
}

/* Estilo del fondo de pantalla de la clase 'dialog' (pseudoelemento ::backdrop) */
dialog::backdrop {
  background-color: rgba(
    255,
    255,
    255,
    0.6
  ); /* rgba del color de fondo con 0.6 de opacidad */
}
